<?xml version="1.0" encoding="UTF-8"?>
<!-- PHPUnit configuration for the custom modules, run inside Lando with
     `lando phpunit`. Based on web/core/phpunit.xml.dist. -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://appserver"/>
    <env name="SIMPLETEST_DB" value="mysql://drupal11:drupal11@database/drupal11"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/app/web/sites/simpletest/browser_output"/>
    <env name="MINK_DRIVER_ARGS" value=""/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <extensions>
    <bootstrap class="Drupal\TestTools\Extension\HtmlLogging\HtmlOutputLogger">
      <parameter name="outputDirectory" value="web/sites/simpletest/browser_output"/>
      <parameter name="verbose" value="false"/>
    </bootstrap>
  </extensions>
  <testsuites>
    <testsuite name="voting">
      <directory>web/modules/custom/*/tests/src</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>web/modules/custom</directory>
    </include>
  </source>
</phpunit>
